.tl_content_left {
    float: left;
    width: calc(100% - 190px);
}


.toggleTweetArchive img,
.tl_content_right .toggleTweet img,
.tl_content_right .toggleTweeting img{
    max-width: 16px;
    max-height: 16px;
    height: 16px;
    width: 16px;
}

.header_twitter {
    padding: 3px 0 3px 30px;
    background-position: left center;
    background-repeat: no-repeat;
    margin-left: 15px;
    max-width: 16px;
    max-height: 16px;
}



